/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
  line-height: 1.5em;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px; /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
 * Fix appearance for Firefox
 */
/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit; /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  color: #000000;
  background-color: #ffffff;
  font-family: "Noto Sans JP";
}
body .header {
  margin: 0 auto;
  align-items: center;
  position: relative;
  display: flex;
  padding: 1.45vw 0;
  width: 62.5%;
}
@media (max-width: 767px) {
  body .header {
    padding-top: 5.11vw;
    padding-right: 4.26vw;
    padding-bottom: 5.46vw;
  }
}
body .header__logo {
  width: 18.55vw;
}
@media (max-width: 767px) {
  body .header__logo {
    margin-top: 0.26vw;
    margin-left: 4.26vw;
  }
}
body .header__logo img {
  padding-left: 0.88vw;
}
@media (max-width: 767px) {
  body .header__logo img {
    width: 44.55vw;
  }
}
body .header__nav {
  width: 62.6vw;
  padding-left: 7.7vw;
}
@media (max-width: 767px) {
  body .header__nav {
    background-color: #ffffff;
    position: absolute;
    top: 8.5%;
    left: 0;
    width: 100%;
    z-index: 9999;
  }
}
body .header__navLink {
  position: relative;
}
body .header__navList {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.04vw;
}
@media (max-width: 767px) {
  body .header__navList {
    display: block;
    position: absolute;
    top: 17.33vw;
    left: -18.66vw;
    margin: 0;
    background-color: #005BAC;
    width: 160%;
    font-size: 5.3vw;
    color: #ffffff;
  }
}
body .header__navItems {
  font-family: "Noto Sans JP";
  margin: 0.36vw;
  text-align: center;
  line-height: 1.5em;
}
@media (max-width: 767px) {
  body .header__navItems {
    display: none;
    border-style: none;
    width: 89.3vw;
    text-align: start;
    border-bottom: 1px solid #ffffff;
    padding: 5.33vw 0 5.33vw 5.33vw;
  }
}
@media (max-width: 767px) {
  body .header__navItems:last-child {
    border-bottom: none;
  }
}
body .header__btn {
  font-family: "Noto Sans JP";
  background-color: #0271E0;
  background: linear-gradient(#0271e0 0%, #53a2f0 100%);
  color: #ffffff;
  border-radius: 30px;
  padding: 0.83vw 2.13vw;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 767px) {
  body .header__btn {
    display: block;
    position: relative;
    margin: 0 auto;
    background-color: #ffffff;
    color: #0271E0;
    background-image: none;
    padding: 3%;
    margin-bottom: 8%;
    width: 89.3vw;
  }
}
body .header__hamburger {
  display: none;
}
@media (max-width: 767px) {
  body .header__hamburger {
    display: block;
    position: absolute;
    top: -5.6vw;
    right: -18.66vw;
    width: 18.34vw;
    font-size: 19.2vw;
    color: #ffffff;
    background-color: #005BAC;
    padding-bottom: 5.54vw;
  }
}
body .header .fa-bars {
  position: relative;
  font-size: 9.5625vw;
  padding-left: 5.33vw;
}
body .mainVisual {
  position: relative;
  background-image: url("../images/mainVIsual_pc.jpg.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (max-width: 767px) {
  body .mainVisual {
    background-image: url("../images/mainVIsual_sp.jpg.png");
  }
}
body .mainVisual__pc {
  display: block;
  width: 100%;
}
@media (max-width: 767px) {
  body .mainVisual__pc {
    display: none;
  }
}
body .mainVisual__sp {
  display: none;
}
@media (max-width: 767px) {
  body .mainVisual__sp {
    display: block;
    width: 100%;
    height: 66.6vw;
  }
}
body .mainVisual__contents {
  width: 100%;
  padding-left: 21.35vw;
  font-size: 2.6vw;
  font-family: "Noto Sans JP";
  font-weight: bold;
  margin: 0;
  z-index: 1;
}
@media (max-width: 767px) {
  body .mainVisual__contents {
    width: 53.3vw;
    top: 0;
    padding-left: 4.2vw;
    padding-top: 9vw;
  }
}
body .mainVisual__achievement {
  display: flex;
  padding-top: 5.2vw;
}
body .mainVisual__achievement img {
  width: 2.2vw;
}
@media (max-width: 767px) {
  body .mainVisual__achievement img {
    width: 6.5vw;
  }
}
body .mainVisual__message {
  text-align: center;
  font-size: 1.04vw;
  font-weight: 400;
  margin-top: 1vw;
  padding: 0 1.8vw;
}
@media (max-width: 767px) {
  body .mainVisual__message {
    font-size: 2.93vw;
    padding-top: 1.6vw;
  }
}
body .mainVisual__message p:last-child {
  font-size: 2.8125vw;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
  color: #F11F8D;
  font-style: italic;
  padding-top: 1.04vw;
}
@media (max-width: 767px) {
  body .mainVisual__message p:last-child {
    font-size: 6.66vw;
    padding-top: 5.3vw;
  }
}
body .mainVisual__message-large {
  font-size: 3.85vw;
}
@media (max-width: 767px) {
  body .mainVisual__message-large {
    font-size: 9.6vw;
  }
}
body .mainVisual__letters {
  margin-top: 3vw;
  font-size: 3.125vw;
  color: #005BAC;
  line-height: 1.4;
}
@media (max-width: 767px) {
  body .mainVisual__letters {
    font-size: 6.66vw;
    line-height: 1.6em;
  }
}
body .mainVisual__letters p:first-child {
  font-size: 1.7vw;
  color: #333333;
}
@media (max-width: 767px) {
  body .mainVisual__letters p:first-child {
    font-size: 3.7vw;
  }
}
body .mainVisual__list {
  display: flex;
  justify-content: space-around;
  margin: 1.77vw auto;
  width: 60%;
}
@media (max-width: 767px) {
  body .mainVisual__list {
    display: none;
  }
}
body .mainVisual__items {
  margin-top: 3.9vw;
  width: 17.7vw;
  padding: 0.31vw 0;
}
@media (max-width: 767px) {
  body .mainVisual__items {
    margin-bottom: 0.26vw;
  }
}
body .mainVisual__items a {
  display: inherit;
  font-size: 1.25vw;
}
body .mainVisual__btn {
  font-family: "Noto Sans JP";
  color: #ffffff;
  border-radius: 50px;
  padding: 1.04vw 3.2vw;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 767px) {
  body .mainVisual__btn {
    display: block;
    position: relative;
    width: 66.6vw;
    margin: 0 auto 3.2vw;
    font-size: 4.26vw;
    background-color: #0097a7;
    color: #ffffff;
    border-radius: 30px;
    padding: 3.8vw 14.1vw;
  }
}
body .mainVisual__btn-green {
  background-color: #77CB33;
}
body .mainVisual__btn-orange {
  background-color: #F6AA00;
}
body .mainVisual__btn-emerald {
  background-color: #3AC8AD;
}
body .mainVisual__listSp {
  display: none;
}
@media (max-width: 767px) {
  body .mainVisual__listSp {
    display: block;
    width: 66.6vw;
    margin: 6.4vw auto;
  }
}
body .reason {
  margin: 0 auto;
  align-items: center;
  text-align: center;
  position: relative;
  width: 62.5%;
  margin-top: 4.2vw;
}
@media (max-width: 767px) {
  body .reason {
    width: 23.4375rem;
    margin-top: 0;
  }
}
body .reason__title {
  font-size: 1.87vw;
  font-weight: bold;
}
@media (max-width: 767px) {
  body .reason__title {
    font-size: 1.75rem;
  }
}
body .reason__title-large {
  font-size: 2.81vw;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #F11F8D;
}
@media (max-width: 767px) {
  body .reason__title-large {
    font-size: 2.5rem;
  }
}
body .reason__list {
  margin-top: 2.03vw;
}
body .reason__items {
  display: flex;
  padding-bottom: 2%;
  align-items: flex-start;
  margin-top: 1.2%;
}
@media (max-width: 767px) {
  body .reason__items {
    display: block;
  }
}
body .reason__img {
  width: 49%;
  padding-left: 1%;
}
@media (max-width: 767px) {
  body .reason__img {
    width: 100%;
    padding: 1rem;
  }
}
body .reason__items:nth-child(even) {
  flex-direction: row-reverse;
}
body .reason__textcontents {
  width: 50%;
  text-align: start;
  padding-top: 1%;
  padding-left: 3%;
}
@media (max-width: 767px) {
  body .reason__textcontents {
    width: 100%;
    padding: 1rem;
  }
}
body .reason__point {
  font-size: 1.45vw;
  font-style: italic;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: #F11F8D;
}
@media (max-width: 767px) {
  body .reason__point {
    font-size: 1.5rem;
  }
}
body .reason__point-large {
  font-size: 2.18vw;
}
@media (max-width: 767px) {
  body .reason__point-large {
    font-size: 2.25rem;
  }
}
body .reason__subtitle {
  font-size: 1.2vw;
  font-weight: bold;
  padding-top: 1.7%;
  line-height: 1.4;
}
@media (max-width: 767px) {
  body .reason__subtitle {
    font-size: 5.3vw;
  }
}
body .reason__text {
  width: 98%;
  text-align: start;
  padding-top: 2.8%;
  line-height: 1.8em;
}
@media (max-width: 767px) {
  body .reason__text {
    font-size: 4.2vw;
  }
}
body .application {
  margin: 2.39vw auto;
  align-items: center;
  position: relative;
  text-align: center;
  background-color: #FFEDED;
  padding-top: 2.91vw;
  padding-bottom: 2.91vw;
}
@media (max-width: 767px) {
  body .application {
    padding: 2.5rem 0;
  }
}
body .application__sentence {
  font-size: 0.83vw;
}
@media (max-width: 767px) {
  body .application__sentence {
    font-size: 4.2vw;
    text-align: center;
    padding: 0 2.1875rem;
    line-height: 1.75rem;
  }
}
body .application__btn {
  display: block;
  margin: 1.19vw auto;
  width: 18.75vw;
  font-size: 1.23vw;
  font-family: "Noto Sans JP";
  background: linear-gradient(#0271e0 0%, #53a2f0 100%);
  color: #ffffff;
  border-radius: 30px;
  padding: 1.3vw 0;
  padding-left: 24px;
  text-align: center;
  font-weight: bold;
}
@media (max-width: 767px) {
  body .application__btn {
    display: block;
    position: relative;
    width: 80%;
    font-size: 5vw;
    background-color: #0097a7;
    color: #ffffff;
    border-radius: 30px;
    padding: 3%;
    margin-bottom: 0.75rem;
  }
}
body .course {
  width: 62.5%;
  margin: 0 auto;
  padding-bottom: 0.05vw;
}
@media (max-width: 767px) {
  body .course {
    width: 100%;
  }
}
body .course__title {
  font-size: 1.87vw;
  text-align: center;
  font-weight: bold;
}
body .course .tab_box {
  width: 100%;
  margin: 0 auto;
}
body .course .tab_box .btn_area {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 2vw;
  padding-left: 0.93vw;
}
body .course .tab_box .tab_btn {
  font-size: 1.25vw;
  padding: 1.04vw 10.2vw;
  border-radius: 12px 12px 0px 0px;
  color: #333;
  background: #f5f7f8;
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}
@media (max-width: 767px) {
  body .course .tab_box .tab_btn {
    padding: 1.25rem 1.1875rem;
  }
}
body .course .tab_box .tab_btn + .tab_btn {
  margin-left: 0.41vw;
}
body .course .tab_box .tab_btn:hover {
  background-color: #dce1e4;
}
body .course .tab_box .tab_btn.active {
  background: #F2F9FF;
  color: #333333;
}
body .course .tab_box .panel_area {
  background: #F2F9FF;
  width: 100%;
  margin: 0 auto 3.75vw;
  border-radius: 0px 0px 12px 12px;
  padding-bottom: 1.66vw;
}
body .course .tab_box .tab_panel {
  display: none;
}
body .course .tab_box .tab_panel li {
  margin-top: 2.03vw;
  margin-left: 2.6vw;
}
body .course .tab_box .tab_panel img {
  width: 97%;
}
body .course .tab_box .tab_panel p {
  font-size: 1.04vw;
  padding-top: 1.09vw;
}
body .course .tab_box .tab_panel.active {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 767px) {
  body .course .tab_box .tab_panel.active {
    display: block;
  }
}
body .tuition__title {
  font-size: 1.8vw;
  text-align: center;
  padding-top: 0.3vw;
  font-weight: bold;
}
@media (max-width: 767px) {
  body .tuition__title {
    font-size: 1.75rem;
  }
}
body .tuition__table {
  width: 31%;
  margin: 1.66vw auto 3.75vw;
  border-collapse: collapse;
  border: 3px solid #CCCCCC;
}
@media (max-width: 767px) {
  body .tuition__table {
    margin: 0 auto;
  }
}
body .tuition__tableHeaderKind {
  font-size: 0.93vw;
  padding: 1.4vw 0 1.4vw 1.6vw;
  background-color: #F5F5F5;
  border: 1px solid #CCCCCC;
}
@media (max-width: 767px) {
  body .tuition__tableHeaderKind {
    font-size: 1rem;
    padding: 1.25rem 1.5625rem;
  }
}
body .tuition__tableHeaderPrice {
  font-size: 0.93vw;
  padding: 1.4vw 7.08vw 1.4vw 7.2vw;
  background-color: #F5F5F5;
  border: 1px solid #CCCCCC;
}
@media (max-width: 767px) {
  body .tuition__tableHeaderPrice {
    font-size: 1rem;
    padding: 1.25rem 2.375rem;
  }
}
body .tuition__tableDataKind {
  font-size: 0.93vw;
  padding: 1.35vw 2.2vw;
  border: 1px solid #CCCCCC;
}
@media (max-width: 767px) {
  body .tuition__tableDataKind {
    font-size: 1rem;
    padding: 1.25rem 3rem;
  }
}
body .tuition__tableDataPrice {
  color: #F23397;
  font-size: 1.66vw;
  padding: 0.83vw 8.33vw;
  border: 1px solid #CCCCCC;
  font-family: "Poppins", sans-serif;
}
@media (max-width: 767px) {
  body .tuition__tableDataPrice {
    font-size: 1.75rem;
    padding: 0.75rem 3.1875rem;
  }
}
body .tuition__tableDataPrice-unit {
  font-size: 0.62vw;
}
@media (max-width: 767px) {
  body .tuition__tableDataPrice-unit {
    font-size: 1rem;
  }
}
body .faqSite {
  display: flex;
  color: #ffffff;
}
@media (max-width: 767px) {
  body .faqSite {
    display: block;
  }
}
body .faqSite__itemFaq {
  width: 50%;
  padding: 7.13vw 17.5vw;
  background-image: url("../images/pht_qa.jpg.png");
  background-size: cover;
  text-align: center;
  font-size: 1.66vw;
}
@media (max-width: 767px) {
  body .faqSite__itemFaq {
    width: 100%;
    font-size: 1.375rem;
    text-align: start;
    padding: 0;
    padding-top: 4.1875rem;
    padding-bottom: 4.4375rem;
    padding-left: 1rem;
    background-image: url("../images/sp_pht_qa.png");
  }
}
body .faqSite__itemFaq a {
  display: inline-block;
}
body .faqSite__itemSite {
  width: 50%;
  padding: 7.13vw 17.5vw;
  background-image: url("../images/pht_classrooms.jpg.png");
  background-size: cover;
  text-align: center;
  font-size: 1.66vw;
}
@media (max-width: 767px) {
  body .faqSite__itemSite {
    width: 100%;
    font-size: 1.375rem;
    text-align: start;
    padding: 0;
    padding-top: 4.1875rem;
    padding-bottom: 4.4375rem;
    padding-left: 1rem;
    background-image: url("../images/sp_pht_classrooms.png");
  }
}
body footer {
  background-color: #DDDDDD;
  text-align: center;
  font-size: 0.67vw;
  padding: 2.6vw 0;
}
@media (max-width: 767px) {
  body footer {
    font-size: 3.4vw;
    padding: 8.5vw;
  }
}/*# sourceMappingURL=style.css.map */