@charset 'utf-8';

@import "_reset";
@import "_variables";

body {
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: #ffffff;
    font-family: 'Noto Sans JP';
    .header {
        margin: 0 auto;
        align-items: center;
        position: relative;
        display: flex;
        padding: 1.45vw 0;
        width: 62.5%;
        @include mq($sp) {
            padding-top:5.11vw;
            padding-right: 4.26vw;
            padding-bottom:5.46vw;
        }
        &__logo {
            width: 18.55vw;
            @include mq($sp) {
                margin-top: 0.26vw;
                margin-left: 4.26vw;
            }
        }
        &__logo img {
            padding-left: 0.88vw;
            @include mq($sp) {
                width: 44.55vw;
            }
        } 
        &__nav {
            width: 62.6vw;
            padding-left: 7.7vw;
            @include mq($sp) {
                background-color: #ffffff;
                position: absolute;
                top: 8.5%;
                left: 0;
                width: 100%;
                z-index: 9999;
            }
        }
        &__navLink {
            position: relative;
        }     
        &__navList {
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 1.04vw;
            @include mq($sp) {
                display: block;
                position: absolute;
                top: 17.33vw;
                left: -18.66vw;
                margin: 0;
                background-color:#005BAC;
                width: 160%;
                font-size: 5.3vw;
                color: #ffffff;
            }
        }
        &__navItems{
            font-family: "Noto Sans JP";
            margin:0.36vw;
            text-align: center;
            line-height: 1.5em;
            @include mq($sp) {
                display: none;
                border-style: none;
                width: 89.3vw;
                text-align: start;
                border-bottom: 1px solid #ffffff;
                padding: 5.33vw 0 5.33vw 5.33vw;
            }
        }
        &__navItems:last-child {
            @include mq($sp) {
                border-bottom: none;
            }
        }
        &__btn {
            font-family: "Noto Sans JP";
            background-color: #0271E0;
            background: linear-gradient(#0271e0 0%, #53a2f0 100%);
            color: #ffffff;
            border-radius: 30px;
            padding: 0.83vw 2.13vw;
            text-align: center;
            font-weight: bold;
            @include mq($sp) {
                display: block;
                position: relative;
                margin: 0 auto;
                background-color: #ffffff;
                color: #0271E0;
                background-image: none;
                padding: 3%;
                margin-bottom: 8%;
                width: 89.3vw;
            }
        }
        &__hamburger {
            display: none;
            @include mq($sp) {
                display: block;
                position: absolute;
                top: -5.6vw;
                right: -18.66vw;
                width: 18.34vw;
                font-size: 19.2vw;
                color: #ffffff;
                background-color: #005BAC;
                padding-bottom: 5.54vw;
            }
        }
        .fa-bars {
            position: relative;
            font-size: 9.5625vw;
            padding-left: 5.33vw;
        }
    }

    .mainVisual {
        position: relative;
        background-image: url("../images/mainVIsual_pc.jpg.png");
        background-repeat: no-repeat;
        background-size: contain;
        @include mq($sp) {
            background-image: url("../images/mainVIsual_sp.jpg.png");
        }
        &__pc {
            display: block;
            width: 100%;
            @include mq($sp) {
                display: none;
            }
        }
        &__sp {
            display: none;
            @include mq($sp) {
                display: block;
                width: 100%;
                height: 66.6vw;
            }
        }
        &__contents {
            width: 100%;
            padding-left: 21.35vw;
            font-size: 2.6vw;
            font-family: 'Noto Sans JP';
            font-weight: bold;
            margin: 0;
            z-index: 1;   
            @include mq($sp) {
                width: 53.3vw;
                top: 0;
                padding-left: 4.2vw;
                padding-top: 9vw;
            }
        }
        &__achievement {
            display: flex;
            padding-top: 5.2vw;
        }
        &__achievement img {
            width: 2.2vw;
            @include mq($sp) {
                width: 6.5vw;
            }
        }
        &__message {
            text-align: center;
            font-size: 1.04vw;
            font-weight: 400;
            margin-top: 1vw;
            padding: 0 1.8vw;
            @include mq($sp) {
                font-size: 2.93vw;
                padding-top: 1.6vw;
            }
        }
        &__message p:last-child {
            font-size: 2.8125vw;
            font-weight: bolder;
            font-family: "Poppins", sans-serif;
            color: #F11F8D;
            font-style: italic;
            padding-top: 1.04vw;
            @include mq($sp) {
                font-size: 6.66vw;
                padding-top: 5.3vw;
            }
        }
        &__message-large {
            font-size: 3.85vw;
            @include mq($sp) {
                font-size: 9.6vw;
            }
        }
        &__letters {
            margin-top: 3vw;
            font-size: 3.125vw;
            color: #005BAC;
            line-height: 1.4;
            @include mq($sp) {
                font-size: 6.66vw;
                line-height: 1.6em;
            }
        }
        &__letters p:first-child{
            font-size: 1.7vw;
            color: #333333;
            @include mq($sp) {
                font-size: 3.7vw;
            }
        }
        &__list {
            display: flex;
            justify-content: space-around;
            margin: 1.77vw auto;
            width: 60%;
            @include mq($sp) {
                display: none;
            }
        }
        &__items {
            margin-top: 3.9vw;
            width: 17.7vw;
            padding: 0.31vw 0;
            @include mq($sp) {
                margin-bottom: 0.26vw;
            }
        }
        &__items a {
            display: inherit;
            font-size: 1.25vw;
        }
        &__btn {
            font-family: "Noto Sans JP";
            color: #ffffff;
            border-radius: 50px;
            padding: 1.04vw 3.2vw;
            text-align: center;
            font-weight: bold;
            @include mq($sp) {
                display: block;
                position: relative;
                width: 66.6vw;
                margin: 0 auto 3.2vw;
                font-size: 4.26vw;
                background-color: #0097a7;
                color: #ffffff;
                border-radius: 30px;
                padding: 3.8vw 14.1vw;
            }
        }
        &__btn-green {
            background-color: #77CB33;
        }
        &__btn-orange {
            background-color: #F6AA00;
        }
        &__btn-emerald {
            background-color: #3AC8AD;
        }
        &__listSp {
            display: none;
            @include mq($sp) {
                display: block;
                width: 66.6vw;
                margin: 6.4vw auto;
            }
        }
    }

    .reason {
        margin: 0 auto; 
        align-items: center;
        text-align: center;
        position: relative;
        width: 62.5%;
        margin-top: 4.2vw;
        @include mq($sp)  {
            width: 23.4375rem;
            margin-top: 0;
        }
        &__title {
            font-size: 1.87vw;
            font-weight: bold;
            @include mq($sp) {
                font-size: 1.75rem;
            } 
        } 
        &__title-large {
            font-size: 2.81vw;
            font-weight: bold;
            font-family: "Poppins", sans-serif;
            color: #F11F8D;
            @include mq($sp)  {
                font-size: 2.5rem;
            }
        } 
        &__list {
            margin-top: 2.03vw;
        }
        &__items {
            display: flex;
            padding-bottom: 2%;
            align-items: flex-start;
            margin-top: 1.2%;
            @include mq($sp) {
                display: block;
            }
        }
        &__img {
            width: 49%;
            padding-left: 1%;
            @include mq($sp) {
                width: 100%;
                padding: 1rem;
            }
        }
        &__items:nth-child(even) {
            flex-direction: row-reverse;
        }
        &__textcontents {
            width: 50%;
            text-align: start;
            padding-top: 1%;
            padding-left: 3%;
            @include mq($sp) {
                width: 100%;
                padding: 1rem;
            }
        }
        &__point {
            font-size: 1.45vw;
            font-style: italic;
            font-weight: bold;
            font-family: "Poppins", sans-serif;
            color: #F11F8D;
            @include mq($sp) {
                font-size: 1.5rem;
            }
        }
        &__point-large {
            font-size: 2.18vw;
            @include mq($sp) {
                font-size: 2.25rem;
            }
        }
        &__subtitle {
            font-size: 1.2vw;
            font-weight: bold;
            padding-top: 1.7%;
            line-height: 1.4;
            @include mq($sp) {
                font-size: 5.3vw;
            }
        }
        &__text {
            width: 98%;
            text-align: start;
            padding-top: 2.8%;
            line-height: 1.8em;
            @include mq($sp) {
                font-size: 4.2vw;
            }

        }
    }

    .application {
        margin: 2.39vw auto; 
        align-items: center;
        position: relative;
        text-align: center;
        background-color: #FFEDED;
        padding-top: 2.91vw;
        padding-bottom: 2.91vw;
        @include mq($sp) {
            padding: 2.5rem 0;
        }
        &__sentence {
            font-size: 0.83vw;
            @include mq($sp) {
                font-size: 4.2vw;
                text-align: center;
                padding: 0 2.1875rem;
                line-height: 1.75rem;
            }
        }
        &__btn {
            display: block;
            margin: 1.19vw auto;
            width: 18.75vw;
            font-size: 1.23vw;
            font-family: "Noto Sans JP";
            background: linear-gradient(#0271e0 0%, #53a2f0 100%);
            color: #ffffff;
            border-radius: 30px;
            padding: 1.3vw 0;
            padding-left: 24px;
            text-align: center;
            font-weight: bold;
            @include mq($sp) {
                display: block;
                position: relative;
                width: 80%;
                font-size: 5vw;
                background-color: #0097a7;
                color: #ffffff;
                border-radius: 30px;
                padding: 3%;
                margin-bottom: 0.75rem;
            }
        }
    }

    .course {
        width: 62.5%;
        margin: 0 auto;
        padding-bottom: 0.05vw;
        @include mq($sp) {
            width: 100%;
        }
        &__title {
            font-size: 1.87vw;
            text-align: center;
            font-weight: bold;
        }
        .tab_box {
            width: 100%;
            margin: 0 auto;
        }
        .tab_box .btn_area {
            width: 100%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            padding-top: 2vw;
            padding-left: 0.93vw;
        }
        .tab_box .tab_btn {
            font-size: 1.25vw;
            padding: 1.04vw 10.2vw;
            border-radius: 12px 12px 0px 0px ;
            // opacity: 0.5;
            color: #333;
            background: #f5f7f8;
            text-align: center;
            cursor: pointer;
            transition: all 0.2s ease 0s;
            @include mq($sp) {
                padding: 1.25rem 1.1875rem;
            }
        }
        .tab_box .tab_btn + .tab_btn {
            margin-left: 0.41vw;
        }
        .tab_box .tab_btn:hover {
            background-color: #dce1e4;
        }
        .tab_box .tab_btn.active {
            background:#F2F9FF;
            color:#333333;
        }
        .tab_box .panel_area {
            background:#F2F9FF;
            width: 100%;
            margin: 0 auto 3.75vw;
            border-radius: 0px 0px 12px 12px ;
            padding-bottom: 1.66vw;
        }
        .tab_box .tab_panel {
            display:none;
            
        }
        .tab_box .tab_panel li {
            margin-top:2.03vw;
            margin-left: 2.6vw;
        }
        .tab_box .tab_panel img {
            width: 97%;
        }
        .tab_box .tab_panel p {
            font-size: 1.04vw;
            padding-top: 1.09vw;
        }
        .tab_box .tab_panel.active {
            display:grid;
            grid-template-columns:1fr 1fr;
            @include mq($sp) {
                display: block;
            }
        }
    }

    .tuition {
        &__title {
            font-size: 1.8vw;
            text-align: center;
            padding-top: 0.3vw;
            font-weight: bold;
            @include mq($sp) {
            font-size: 1.75rem;
        }
        }
        &__table {
            width: 31%;
            margin: 1.66vw auto 3.75vw;
            border-collapse: collapse;
            border: 3px solid #CCCCCC;
            @include mq($sp) {
                margin: 0 auto;
            }
        }
        &__tableHeaderKind {
            font-size: 0.93vw;
            padding: 1.4vw 0 1.4vw 1.6vw;
            background-color: #F5F5F5;
            border: 1px solid #CCCCCC;
            @include mq($sp) {
                font-size: 1rem;
                padding: 1.25rem 1.5625rem;
            }
        }
        &__tableHeaderPrice {
            font-size: 0.93vw;
            padding: 1.4vw 7.08vw 1.4vw 7.2vw;
            background-color:#F5F5F5;
            border: 1px solid #CCCCCC;
            @include mq($sp) {
                font-size: 1rem;
                padding: 1.25rem 2.375rem;
            }
        }
        &__tableDataKind {
            font-size: 0.93vw;
            padding: 1.35vw 2.2vw;
            border: 1px solid #CCCCCC;
            @include mq($sp) {
                font-size: 1rem;
                padding: 1.25rem 3rem;
            }
        }
        &__tableDataPrice {
            color: #F23397;
            font-size: 1.66vw;
            padding: 0.83vw 8.33vw;
            border: 1px solid #CCCCCC;
            font-family: "Poppins", sans-serif;
            @include mq($sp) {
                font-size: 1.75rem;
                padding: 0.75rem 3.1875rem;
            }
        }
        &__tableDataPrice-unit {
            font-size: 0.62vw;
            @include mq($sp) {
                font-size: 1rem;
            }
        }
    }

    .faqSite {
        display: flex;
        color: #ffffff;
        @include mq($sp) {
            display: block;
        }
        &__itemFaq {
            width: 50%;
            padding: 7.13vw 17.5vw;
            background-image: url("../images/pht_qa.jpg.png");
            background-size: cover;
            text-align: center;
            font-size: 1.66vw;
            @include mq($sp) {
                width: 100%;
                font-size: 1.375rem;
                text-align: start;
                padding: 0;
                padding-top: 4.1875rem;
                padding-bottom: 4.4375rem;
                padding-left: 1rem;
                background-image: url("../images/sp_pht_qa.png");
            }
        }
        &__itemFaq a {
            display: inline-block;
        }
        &__itemSite {
            width: 50%;
            padding: 7.13vw 17.5vw;
            background-image: url("../images/pht_classrooms.jpg.png");
            background-size: cover;
            text-align: center;
            font-size: 1.66vw;
            @include mq($sp) {
                width: 100%;
                font-size: 1.375rem;
                text-align: start;
                padding: 0;
                padding-top: 4.1875rem;
                padding-bottom: 4.4375rem;
                padding-left: 1rem;
                background-image: url("../images/sp_pht_classrooms.png");
            }
        }
    }

    footer {
        background-color: #DDDDDD;
        text-align: center;
        font-size: 0.67vw;
        padding: 2.6vw 0;
        @include mq($sp) {
            font-size: 3.4vw ;
            padding: 8.5vw;
        }
    }
}